.search-bar {
   width: 60%;
   margin: 0 auto;
   padding: 0 10px;
   top: 3px !important;

   .search-input {
     display: inline-block;
     width: calc(100% - 48px);
     height: 50px;
   }

   .search-icon {
      top: 8px;
   }
}

@media(max-width: 980px){
  .search-bar {
    width: 96%;
    padding: 0 5px;
  }
}