.search-bar {
   width: 60%;
   margin: 0 auto;
   padding: 0 10px;
   top: 3px !important;

   .search-input {
     display: inline-block;
     width: calc(100% - 96px);
     height: 50px;
   }

   .search-icon,
   .filter-icon {
      top: 8px;
   }
}

.popover-search {
  .search-input {
      width: calc(100% - 55px);
   }

  .filter-icon {
      display: none !important;
   }
} 

@media(max-width: 980px){
  .search-bar {
    width: 96%;
    padding: 0 5px;
  }
}