header {
    width: 100%;
    height: 370px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: rgb(0, 188, 212);
    -webkit-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -moz-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    -ms-transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    transition: all .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    padding: 10px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
    display: flex;
    text-align: center;
    
    .logo-img {
        width: 330px;
        display: block;
        margin-left: calc(50% - 70px);
        margin-top: 40px;
    }

    .search-button{
        float: right;
    }
    
    .app-title-container {
        overflow: hidden;
        float: left; 
        font-size: 24px;
        color: white;
        margin-left: -15px;
        padding-left: 15px;

        .app-title {
            margin-top: 10px;
            position: relative;
            transform: translateX(-80px);
            transition: transform .3s cubic-bezier(0.65, 0.05, 0.36, 1) .1s;
        }
    }
    
    .logo {
        color:white;
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 0;
    }

    .subheader{
        color: rgba(255, 255, 255, 0.870588);
        margin-top: 0;
        font-size: 20px;
        font-weight: 400;
    }

    .search {
        float: right;
    }
    
    .hamburger-btn {
        float: left;
    }
}

header.smaller {
    height: 64px;
    
    .logo-img,
    .subheader,
    .logo{
        transition: transform .4s ease;
        transform: translateY(200px);
    }

    .children{
        transition: transform .3s cubic-bezier(0.65, 0.05, 0.36, 1);
        transform: translateY(-220px);
    }

    .app-title {
        transform: translateX(0px);
    }
}

header.expanded { 
    height: 145px;
}

@media all and (max-width: 660px) {
    header {
        h1.logo {
            margin-top:15px;
        }
    }
}

@media (max-width: 480px) {
    header {
        height: 390px;

        .subheader { 
            height: 40px;
        }
    }
}