.search-bar,
.app-bar > div{
     -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.app-bar.collapsed .search-bar {
    animation-name: bounceInRight;
    -webkit-animation-name:bounceInRight;
}

.app-bar .search-bar{
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
}

.app-bar.collapsed > div{
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    animation-duration: 0.95s;
}

.app-bar > div{
    -webkit-animation-name: searchOutRight;
    animation-name: searchOutRight;
    animation-duration: 0.61s;
}


@media(max-width:450px){
    /* little hack here, dont know why, but its work - showing app title, when search bar is not opened */
    .app-bar:not(.collapsed) h1 {
        transition-delay: .3s;
        overflow: visible !important;
        transition: opacity 1;
        width: 0;
    }

    .app-bar.collapsed h1{
        opacity: 0;
    }
}

@-webkit-keyframes searchOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }
}

@keyframes searchOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(40px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }
}

@-webkit-keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 1;
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}