.paused, .playing{
  height: 100%;
  padding-top: 16.5px;
}

.play-icon-container {
  height: 22px;
  width: 22px;
  display: block;
  overflow: hidden;
  position: relative;
}

.paused .play-icon-container{
  margin-left: 19px;
}

.playing .play-icon-container{
  margin-left: 16px;
}

.left {
  height: 100%;
  float: left;
  background-color: #fff;
  width: 36%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}

.triangle-1 {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.triangle-2 {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.triangle-1,
.triangle-2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 0;
  height: 0;
  border-right: 22px solid #00bcd4;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.play-button:hover .triangle-1, 
.play-button:hover .triangle-2{
   border-right: 22px solid rgba(0, 188, 212 , 0.6);
}

.play-button span + div{
   /* ovverride default transition for material ui button */
   transition: initial !important;
}
.right {
  height: 100%;
  float: right;
  width: 36%;
  background-color: #fff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.paused .left {
  width: 50%;
}

.paused .right {
  width: 50%;
}

.paused .triangle-1 {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.paused .triangle-2 {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}
