.player{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding : 10px 15px;
    box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.4);
}

.artwork-container{
    display: inline-block;
    float:left;
}

a.player-song-title, a.player-user-name{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 5px;
}

a.player-song-title{
    font-size: 17px;
    color: black;
}

a.player-user-name{
    font-size: 15px;
}