.player{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding : 10px 15px;
    box-shadow: 0 -5px 5px -5px rgba(0,0,0,0.4);
    display: flex;
    align-items:space-between;
}

.control-button {
    margin-right: 20px;
}

.artwork.flex-container{
    order:1;
}

.title.flex-container{
    order: 2;
    max-width: 30%;
}

.slider.flex-container{
    order:3;
    width: 60%;
    display: flex;
}

.time {
    padding: 20px;
    font-size: 18;
    color: #8c8e92;
}

.slider-container{
    flex-basis: 90%;
}

.controls.flex-container{
    order:4;
    margin-left: auto;
}

@media(max-width:400px){
    .control-button{
        margin-right: 5px;
    }
}

@media(max-width:450px){
    .artwork.flex-container{
        display: none;
        margin-left: 5px;
    }
}

@media(max-width:550px){
    .control-button{
        margin-right: 7px;
    }
    .controls.flex-container{
        min-width: 30%;
    }
    .title.flex-container{
        max-width: 42%;
    }
}
 
@media (min-width:550px){
    .flex-container{
        margin-left: 10px;
        margin-right: 10px;
    }
} 
@media(max-width:900px){
    .player{
        flex-wrap: wrap;
    }
    .slider.flex-container{
        order: 4;
        flex-grow:0;
        flex-basis: 90%;
        align-content: flex-start;
    }
    .controls.flex-container{
        order: 3;
    }
}

@media(min-width:900px){
    .title.flex-container{
        max-width: 30%;
    }
    .controls.flex-container{
        min-width: 230px;
    }
}

a.player-song-title, a.player-user-name{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    margin-top: 5px;
}

a.player-song-title{
    font-size: 17px;
    color: black;
}

a.player-user-name{
    font-size: 15px;
}

.volume-bar{
    display: inline-block;
}

.volume-slider-container{
    position: absolute;
    bottom: 120px;
    width: 44px;
    margin: 0 auto;
    padding: 0px 13px 10px;
}

@media(max-width:330px){
    .volume-bar{
        display: none;
    }
}

@media(min-width:900px){
    .volume-slider-container{
        bottom:60px;
    }
}

.hidden{
    display: none;
}