
/* DEFAULT */

.centred,.circle-1,.circle-2,.play,.spinner {
	-webkit-transform: translateX(-50%)translateY(-50%);
	-moz-transform: translateX(-50%)translateY(-50%);
	transform: translateX(-50%)translateY(-50%);
}

.transition,.circle-1,.circle-2,.play,.card {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.5,1);
	-moz-transition-timing-function: cubic-bezier(.4,0,.5,1);
	transition-timing-function: cubic-bezier(.4,0,.5,1);
}

/* MAIN */

.container {
    width: 100%;
    text-align: center;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.card {
    width: 250px;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #526472;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 3px 9px rgba(0,0,0,.3);
    display: inline-block;
    position: relative;
    margin: 20px;
    display: inline-block;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.card:hover,.card.active {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2) !important;
    -webkit-transform: scale(1.05) !important;
    -moz-transform: scale(1.05) !important;
    transform: scale(1.05) !important;
}

/* CARD TITLE */

.card h2 {
    position: absolute;
    text-align: left;
    bottom: 0;
    margin: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 100;
    font-size: 1.3em;
    color: #fff;
    background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}

.message {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	top: 50%;
	position: absolute;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none;
	color: #fff;
	opacity: 1;
	z-index: 6;
	width: 100%;
	text-align: center;
	font-weight: 300;
}

.card:not(.now-playing):hover .circle-1,.card:not(.now-playing):hover .circle-2 {
	-webkit-transform: translateX(-50%)translateY(-50%)scale(0.1);
	-moz-transform: translateX(-50%)translateY(-50%)scale(0.1);
	transform: translateX(-50%)translateY(-50%)scale(0.1);
	margin-top: 0;
}

.card:hover .play {
	margin-top: 0;
	opacity: 1;
}

.circle-1,.circle-2 {
	border-radius: 50%;
	position: absolute;
	left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%)translateY(-50%)scale(0);
	-moz-transform: translateX(-50%)translateY(-50%)scale(0);
	transform: translateX(-50%)translateY(-50%)scale(0);
	margin-top: 10px;
}

.circle-1.active,.circle-2.active {
    -webkit-transform: translateX(-50%)translateY(-50%)scale(1) !important;
	-moz-transform: translateX(-50%)translateY(-50%)scale(1) !important;
	transform: translateX(-50%)translateY(-50%)scale(1) !important;
}

.circle-1.active{
    width: 100%;
    height: 100%;
}

.play.active {
	opacity: 0 !important;
}

.circle-1 {  
    width: 1000px;
    height: 1000px;
    background-color: #4DD0E1;
    z-index: 2;  
    -webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	transition-delay: .2s;  
}

.circle-2 {
    width: 1300px;
    height: 1300px;
    background-color: #00BCD4;
    z-index: 1;
}

.now-playing .circle-2{ 
	display: none;
}

.now-playing .circle-1{
    -webkit-animation: 0.6s play normal forwards;
    -moz-animation: 0.6s play normal forwards;
    animation: 0.6s play normal forwards;

        background-position: 55% 50%; 
    background-size: 25px 25px;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

@keyframes play{
    0%{width:100%; height: 100%; background-image: url(../img/card-play.png);}
    50%{width: 100px; height: 90px;background-image: url(../img/card-play.png);}
    100%{width: 70px;height: 70px; top: 0; left: 100%;background-image: url(../img/card-play.png);}
}

.now-playing.card{
    overflow: visible;
}

.play {
	cursor: pointer;
	width: 34px;
	height: 34px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 3;
	background: url(../img/card-play.png) no-repeat center / contain;
	margin-top: 10px;
	opacity: 0;
	-webkit-transition-delay: .4s;
	-moz-transition-delay: .4s;
	transition-delay: .4s;  
}

.loader {
	width: 100px;
    height: 100px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
    top: 50%;
    z-index: 4;
    background: #ffffff;
    -webkit-transform: translateX(-50%)translateY(-50%)scale(0);
	-moz-transform: translateX(-50%)translateY(-50%)scale(0);
	transform: translateX(-50%)translateY(-50%)scale(0);
}

.loader.active {
	-webkit-animation: 2s loader 1s infinite;
	-moz-animation: 2s loader 1s infinite;
	animation: 2s loader 1s infinite;
}

@-webkit-keyframes loader {
	0% {-webkit-transform: translateX(-50%)translateY(-50%)scale(0);opacity:0.5;}
	100% {-webkit-transform: translateX(-50%)translateY(-50%)scale(10);opacity:0;}
}

@-moz-keyframes loader {
	0% {-moz-transform: translateX(-50%)translateY(-50%)scale(0);opacity:0.5;}
	100% {-moz-transform: translateX(-50%)translateY(-50%)scale(10);opacity:0;}
}

@keyframes loader {
	0% {transform: translateX(-50%)translateY(-50%)scale(0);opacity:0.5;}
	100% {transform: translateX(-50%)translateY(-50%)scale(10);opacity:0;}
}

path {
    -webkit-animation: 3s path infinite;
    -moz-animation: 3s path infinite;
    animation: 3s path infinite;
    stroke-dasharray: 70;
}

@-moz-keyframes path {
    0% {stroke-dashoffset: 0;}
    50% {stroke-dashoffset: 70;}
    100% {stroke-dashoffset: 0;}
}

@keyframes path {
    0% {stroke-dashoffset: 0;}
    50% {stroke-dashoffset: 70;}
    100% {stroke-dashoffset: 0;}
}

.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 5;
	display: none;
}

.load-circle {
    -webkit-animation: 3s svg infinite;
    -moz-animation: 3s svg infinite;
    animation: 3s svg infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

@-moz-keyframes svg {
    0% {-webkit-transform:rotate(0deg)}
    50% {-webkit-transform:rotate(360deg)}
    100% {-webkit-transform:rotate(720deg)}
}

@keyframes svg {
    0% {transform:rotate(0deg)}
    50% {transform:rotate(360deg)}
    100% {transform:rotate(720deg)}
}