.card {
  width: 260px;
  height: 340px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 30px 20px 40px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transition: box-shadow  0.4s ease-in-out .2s;

  &.active { 
    transition-delay: .2s;
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 25px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
  }

  .main {
    width: 100%;
    height: 80%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .powered-logo,
  .animation {
    display: none;
    position: absolute; 
    z-index: 100;
  }

  .powered-logo {
    left: 20px;
    top: 0;
  }

  .animation {
    width: 100%;
    top: 20%;
  }

  &.img-visible .powered-logo,
  &.img-visible .animation { 
    display: block;
  }

  .fab {
    width: 60px;
    height: 60px;
    background-color: #4DD0E1;
    transition: 1s background-image ease;
    position: absolute;
    z-index: 99;
    padding-top: 8px;
    right: 18px;
    top: calc(80% - 30px);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transform: scale3d(1, 1, 1);
    transition: 0.6s cubic-bezier(0.65, -0.4, 0.49, 1.4);
    transition-delay: .2s;
    box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 4px, rgba(0, 0, 0, 0.227451) 0 2px 4px;
  }

  .fab > svg {
    cursor: pointer;
    max-width: 44px;
    max-height: 44px;
    transition: transform .7s cubic-bezier(0.46, 0.03, 0.52, 0.96)!important;
  }

  &:not(.icon-hidden) .fab:hover {
    transition: box-shadow  0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 25px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
  }

  &:not(.icon-hidden) .fab > svg:hover {
    transform: rotate(360deg) scale(0.9);
  }

  &.icon-hidden .fab > svg {
    display: none !important;
  }

  &.active .fab {
    cursor: default;
    transform: scale3d(13, 13, 1);
    transition: 0.6s cubic-bezier(0.65, -0.68, 0.49, 1.94);
    transition-delay: .1s;
    background-color: #4DD0E1;
  }

  .fab-sha {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 18px;
    top: calc(80% - 30px);
    border: 1px solid #4DD0E1;
    border-radius: 50%;
    transform: scale3d(0.9, 0.9, 1);
    transition: .4s ease-in-out;
    transition-delay: .5s;
  }

  &.active .fab-sha {
    transform: scale3d(4, 4, 1);
    border: 3px solid #4DD0E1;
    transition: .4s ease-in-out;
  }

  .title-container {
      padding: 7px 10px;
      font-family: Roboto, sans-serif;

      .user-avatar {
        float: left;
      }

      .user-name, .title {
        float: left;
        text-overflow: ellipsis;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        z-index: 1000;
      }

      .user-name {
        color: #857f7f;
        font-weight: bold;
        margin: 12px 5px 0;
        width: 130px;
        font-size: 15px;
      }

      .title {
        width: 185px;
        margin: 3px 0 0 5px;
        font-size: 16px;
        color: #686161;
      }
  }

  &.title-visible {
      .user-name, .title {
        text-align: center;
        color: white;
        width: 100%;
        margin: auto;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }

      .user-name {
        font-size: 16px;
        margin-top: 10px;
      }

      .title {
        font-size: 18px;
      }
  }
}

.close {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  transform: rotateZ(0deg) scale3d(0, 0, 0);
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.65, -0.68, 0.49, 1.94);
  text-align: left;
  opacity: 1;

  &:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: white;
    margin-left: calc(50% - 12px);
    margin-top: calc(50% - 1.5px);
  }

  &:after {
    content: "";
    position: absolute;
    height: 24px;
    width: 3px;
    background-color: white;
    margin-top: calc(50% - 12px);
    margin-left: calc(50% - 1.5px);
  }
}

.card.active .close {
  transform: rotateZ(135deg) scale3d(1, 1, 1);
  transition: 0.4s cubic-bezier(0.65, -0.68, 0.49, 1.94);
  transition-delay: .4s;
}

